.brand-logo, .button-collapse {
	margin-left: .5em;
	margin-right: .5em;
}

#navbar_logo {
	max-height: 2em;
}

body, html {
	background-color: #EDEDED !important;
}

.intro {
	text-align: center;
	padding-top: 5%;
	padding-bottom: 5%;
	margin-bottom: 50px;
}

.intro h1 {
	font-weight: 900;
	text-transform: uppercase;
}

.intro h5 {
	text-transform: uppercase;
	padding: 10px;
	color: #333333;
	display: inline-block;
	font-size: 1.2rem;
}

.jumpPoint {
	display: block; 
	content: " "; 
	margin-top: -6em; 
	height: 6em; 
	visibility: hidden; 
}